services:
  db:
    image: postgres:15
    restart: always
    container_name: db
    ports:
      - "5432:5432"
    volumes:
      - ./pg_dev_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=soul-api
      - POSTGRES_USER=soul-api
      - POSTGRES_PASSWORD=soul-api
