services:
  db:
    image: postgres:15
    restart: always
    container_name: db
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-soul-api}
      POSTGRES_USER: ${POSTGRES_USER:-soul-api}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-soul-api}
    ports:
      - "${DB_EXTERNAL_PORT:-5432}:${DB_INTERNAL_PORT:-5432}"
    volumes:
      - ./pg_data:/var/lib/postgresql/data
    networks:
      - backend-net
    healthcheck:
      test:
        [
          "CMD",
          "pg_isready",
          "-U",
          "${POSTGRES_USER:-soul-api}",
          "-d",
          "${POSTGRES_DB:-soul-api}",
        ]
      interval: 10s
      retries: 5
      start_period: 10s
      timeout: 5s
networks:
  backend-net:
    name: backend-net
    driver: bridge
