services:
  migrate:
    build: ./apps/backend
    restart: "no"
    environment:
      - DB_HOST=${DB_HOST:-db}
      - DB_PORT=${DB_PORT:-5432}
      - DB_USER=${DB_USER:-soul-api}
      - DB_PASSWORD=${DB_PASSWORD:-soul-api}
      - DB_NAME=${DB_NAME:-soul-api}
    command: "cd apps/backend && npx prisma migrate deploy && npx prisma db seed"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - backend-net

  backend:
    build: ./apps/backend
    restart: always
    container_name: backend
    ports:
      - "3005:3005"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - backend-net

  admin:
    build: ./apps/admin
    restart: always
    container_name: admin
    ports:
      - "3006:3006"
    depends_on:
      - backend
    networks:
      - backend-net

networks:
  backend-net:
    name: backend-net
    external: true
    driver: bridge
