services:
  db:
    image: postgres:15
    restart: always
    container_name: db
    ports:
      - "127.0.0.1:5432:5432"
    command: >
      postgres
      -c logging_collector=on
      -c log_directory='/var/lib/postgresql/data/logs'
      -c log_filename='postgresql-%Y-%m-%d.log'
      -c log_rotation_age=1d
      -c log_truncate_on_rotation=on
      -c log_statement=all
      -c log_line_prefix='%m [%p] %u@%d '
      -c log_duration=on
    volumes:
      - ./pg_data:/var/lib/postgresql/data
    env_file:
      - ./.env/.env.db
    networks:
      - backend-net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      retries: 5
      start_period: 10s
      timeout: 5s
  migrate:
    build: ./apps/backend
    restart: "no"
    container_name: migration
    env_file:
      - ./.env/.env.backend
    command: sh -c "npx prisma migrate deploy && npx prisma db seed"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - backend-net

  backend:
    build: ./apps/backend
    restart: always
    container_name: backend
    ports:
      - "3005:3005"
    volumes:
      - ./backend_logs:/backend/logs
    env_file:
      - ./.env/.env.backend
    depends_on:
      db:
        condition: service_healthy
    networks:
      - backend-net

  admin:
    build: ./apps/admin
    restart: always
    container_name: admin
    ports:
      - "3006:3006"
    env_file:
      - ./.env/.env.admin
    depends_on:
      db:
        condition: service_healthy
    networks:
      - backend-net

networks:
  backend-net:
    name: backend-net
    driver: bridge
