name: Deploy dev stage

on:
  push:
    branches:
      - dev
  workflow_dispatch:
    inputs:
      commit_sha:
        description: "Commit SHA to deploy"
        required: true
        default: "latest"

jobs:
  deploy:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "21"

      #  Локальные билды отключены так как билд собирается на хосте, и если он падает - то смена контейнеров не происходит
      #  Также билд проверяется в тестах при ПР
      # - name: Install & build backend locally
      #   working-directory: apps/backend
      #   run: |
      #     npm install
      #     npx prisma generate
      #     npm run build

      # - name: Install & build admin locally
      #   working-directory: apps/admin
      #   run: |
      #     npm install
      #     npm run admin:build

      - name: Add SSH key to ssh-agent
        run: |
          mkdir -p ~/.ssh
          echo "$DEV_SSH_PRIVATE_KEY" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          eval $(ssh-agent -s)
          ssh-add ~/.ssh/id_ed25519
        env:
          DEV_SSH_PRIVATE_KEY: ${{ secrets.DEV_SSH_PRIVATE_KEY }}

      - name: Deploy to Server
        run: |
          ssh-keyscan -H "$DEV_SSH_HOST" >> ~/.ssh/known_hosts
          ssh "$DEV_SSH_USER@$DEV_SSH_HOST" << 'EOF'
            cd /home/soul_backend/backend
            git pull origin dev
            COMMIT_SHA="${COMMIT_SHA:-$DEFAULT_COMMIT_SHA}"
            git checkout "$COMMIT_SHA"

            cd apps/backend
            npm ci
            npx prisma generate
            npm run build

            cd ../admin
            npm ci
            npm run admin:build

            cd ../..
            docker compose -f docker-compose.deploy.yml up -d db
            docker compose -f docker-compose.deploy.yml run --rm migrate
            docker compose -f docker-compose.deploy.yml up -d --build backend admin
            docker image prune -a -f
            docker builder prune -f
          EOF
        env:
          DEV_SSH_USER: ${{ secrets.DEV_SSH_USER }}
          DEV_SSH_HOST: ${{ secrets.DEV_SSH_HOST }}
          COMMIT_SHA: ${{ github.event.inputs.commit_sha }}
          DEFAULT_COMMIT_SHA: ${{ github.sha }}
